.cache
.build
.vscode

.ipynb_checkpoints
__pycache__

*/images/output/*
!*/images/output/README.md

*/logs/*
*/pretrained/*
!*/pretrained/README.md

assets/*
!assets/examples

*.mat
*.h5
*.npy

foo.*
bar.*
baz.*